@{
}
<header class="home-principal">
    <div class="container">
        <div class="intro-md">Quer aprender bateria?</div>
        <div class="intro-lg text-uppercase">Seu lugar é aqui!</div>
        <a class="btn btn-primary btn-xl" href="#">Saiba mais</a>
    </div>
</header>
